/*
 * Style CSS
 */

/* Variables */
html:root {
    --duration:     0.66s;
    --easing:       ease;
    --primary:      #1f00ff;
    --visited:      #3904ba;
    --secondary:    #ffc200;
    --white:        #f8f8f8;
    --gray:         #dfe3e8;
    --black:        #58595b;
}

/* Reset */
html, body, div, header, main, footer, nav, section, article, div,
span, ul, li, h1, h2, h3, h4, h5, h6, p, a, small {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
}
html {
    scroll-behavior: smooth;
}
div.container {
    padding: 0px 8px;
}
div.wrapper {
   height: 100%;
}



/* Layout */
.row > div {
    display: flex;
    flex-direction: row;
}
.column > div {
    display: flex;
    flex-direction: column;
}
.centered > div {
    align-items: center;
    justify-content: center;
}
.spaced > div {
    justify-content: space-between;
}
.align-center > div {
    align-items: center;
}
.fill {
    height: 100%;
    position: absolute;
    width: 100%;
}
.padded > div {
    padding: 24px;
}

/* Colors  */
.primary {
    background-color: var(--primary);
    color: var(--white);
}
.secondary {
    background-color: var(--secondary);
    color: var(--primary);
}
.white {
    background-color: var(--white);
}
.gray {
    background-color: var(--gray);
    color: var(--black);
}
.black {
    background-color: var(--black);
    color: var(--white);
}
.transparent {
    background-color: transparent;
    color: var(--white);
}
.opaque {
    background-color: var(--black);
    mix-blend-mode: multiply;
    opacity: 0.66;
}
.secondary.inverted {
    border: solid 1px var(--primary);
}
.white.inverted {
    border: solid 1px var(--white);
    background: transparent;
}

/* Typography */
html, body {
    color: var(--black);
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}
.condensed {
    font-family: "Roboto Condensed", "Arial Condensed", sans-serif;
    text-transform: uppercase;
}
ul, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, a, p {
    line-height: initial;
}
a {
    text-decoration: none;
}
a:visited {
    color: var(--visited);
}

/* Misc. */
img {
    height: auto;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
div.button {
    cursor: pointer;
    height: 48px;
    user-select: none;
    width: 96px;
}
span.screen {
    z-index: 2;
}

/* Hero Section */
div.container > div > section {
    height: 100vh;
}
div.container > div > section > div {
    margin: 0px -8px;
    padding: 48px;
}
div.container > div > section article {
    font-size: 0.6em;
}
div.container > div > section article > div > div {
    width: 50%;
    padding: 0px 12px 0px 0px;
}
div.container > div > section article > div > div:last-child {
    padding: 0px 0px 0px 12px;
}
/* Hero Section Text */
div.container > div > section div.content h1 {
    font-weight: 400;
}
div.container > div > section a {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    top: calc(100% - 48px);
    z-index: 3;
}
div.container > div > section div.button p {
    font-size: 24px; /* temp */
}

/* Hero Section Text */
div.container > div > section div.logo h1 {
    font-size: 4em; /* temp */
}

/* Background */
div.background {
    left: 0px;
    overflow: hidden;
    top: 0px;
    z-index: -1;
}
div.background img {
    height: 100%;
    width: 100%;
}

/* Header */
header {
    height: 144px;
}
header > div {
    margin: 0px -8px;
    padding: 48px;
}
header div.button {
    width: 48px;
}

/* Navigation Button */
header div.button {
    margin-right: -8px;
}
header div.button span {
    background-color: var(--primary);
    height: 6px;
    position: absolute;
    transition: left var(--easing) var(--duration), opacity var(--easing) var(--duration), top var(--easing) var(--duration);
    width: 34px;
}
header div.button > div {
    padding: 4px 4px 4px 6px;
}
header div.button > div > span:nth-child(1) {
    top: 8px;
}
header div.button > div > span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
header div.button > div > span:nth-child(3) {
    top: calc(100% - 14px);
}

/* Navigation */

/* Main */
main > div {
    margin: 0px -8px;
    z-index: -2;
}
main section > div {
    padding: 48px;
}
main article > div > *:not(:first-child) {
    margin-top: 48px;
}
main article h1 {
    font-size: 2em;
}
main article ul li:not(:last-child) {
    margin-bottom: 1.2em;
}
main article div.row ul {
    font-size: 0.75em;
}

/* Pill Button */
div.pill.button {
    border-radius: 24px;
    display: inline-block;
    font-size: 0.8em;
    text-transform: lowercase;
    width: auto;
}
div.pill.button > div {
    padding: 0px 16px;
}
div.pill.button h2 {
    font-weight: 300;
    margin-top: -2px;
}

/* Footer */
footer > div {
    margin: 0px -8px;
    padding: 48px;
}
footer ul h6,
footer ul a {
    font-weight: 300;
    font-size: 11px;
}
footer div.cell:not(:last-child),
footer div.cell > div > *:not(:last-child) {
    margin-bottom: 48px;
}
footer div.cell:last-child ul li {
    margin-bottom: 1.66em;
}


/* NAV */
nav {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.33);
    height: 100vh;
    left: 100vw;
    position: fixed;
    top: 0px;
    width: calc(100vw - 48px);
    z-index: 98;
    color: var(--primary);
    transition: left var(--easing) var(--duration);
}
nav div.close.button {
    position: absolute;
    top: 48px;
    left: 48px;
    width: 32px;
    height: 32px;
}
nav.active {
    left: 48px;
}
nav > div {
    padding: 48px;
}
nav ul > li {
    cursor: pointer;
}
nav ul > li:not(:first-child) {
    margin-top: 24px;
}
nav a,
nav h2 {
    font-family: "Roboto Condensed", "Arial Condensed", sans-serif;
    font-size: 51px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: initial;
    display: inline-block;
}
nav a:visited {
    color: var(--primary);
}

nav span.underline {
    position: absolute;
    left: 0px;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: var(--primary);
}

/* Contact Aside */
aside {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.33);
    height: 100vh;
    left: 100vw;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 99;
    transition: left var(--easing) var(--duration);
}
aside > div {
    padding: 48px;
}

aside.active {
    left: 0px;
}

/*  Form  */
form > div.header {
    margin-bottom: 24px;
}
form div.field:not(:last-child),
form div.section:not(:last-child) {
    margin-bottom: 24px;
}
input, select, button, textarea {
    -webkit-appearance: none;
    /* -moz-appearance: none; */
    appearance: none;
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #aaaaaa;
    width: 100%;
    color: #bbbbbb;
    font-size: 15px;
    padding: 0px;
}
select {
    text-indent: -2px;
    /* color: black; */
}
option {
    color: var(--black)
}
input::placeholder {
    color: #aaaaaa;
    font-size: 15px;
}
textarea {
    font-family: "Montserrat", "Arial", sans-serif;
    height: 6em;
    resize: none;
}

input, select {
    height: 32px;
}
label {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    visibility: hidden;
}

aside button {
    height: 32px;
    border-radius: 16px;
    text-transform: lowercase;
    display: inline-block;
    width: auto;
    padding: 0px 16px 2px 16px;
    font-size: 17px;
    cursor: pointer;
}

aside a,
aside a:visited {
    color: inherit;
    font-weight: 400;
}

form div.field span {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
}


div.close {
    height: 32px;
    width: 32px;
}

form div.header {
    font-family: "Roboto Condensed", "Arial Condensed", sans-serif;
    margin-bottom: 24px;
}
form div.header h1 {
    text-transform: uppercase;
    font-size: 33px;
}

img.slide {
    opacity: 0.0;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity var(--easing) 1s;
}
img.slide.active {
    opacity: 1.0;
}