/*
 * Style.css
 */


/* FONTS --------------------------------------------------------------------- FONTS */
@font-face {
    font-family: 'Gilbert Webdings';
    src: url('../resources/fonts/Gilbert_Webdings.woff2') format('woff2'),
        url('../resources/fonts/Gilbert_Webdings.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto+Condensed:wght@400;700&display=swap');


/* VARIABLES ------------------------------------------------------------- VARIABLES */
html:root {
    --primary:      #1f00ff;
    --visited:      #3904ba;
    --secondary:    #ffc200;
    --black:        #58595b;
    --gray-80:      #7c7c7e;
    --gray-60:      #9fa0a1;
    --gray-40:      #c3c3c4;
    --gray-20:      #dfe3e8;
    --white:        #f8f8f8;
    --dur-lg:       1.00s;
    --dur-md:       0.66s;
    --dur-sh:       0.33s;
    --easing:       ease;
}


/* RESET --------------------------------------------------------------------- RESET */
html {
    scroll-behavior: smooth;
}
html, body, div, header, main, footer,
nav, aside, section, article, span, ul,
li, h1, h2, h3, h4, h5, h6, p, a, small,
input, select, option, button, textarea {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
}
input, select, button, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: inherit;
    border: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    letter-spacing: 0.04em;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
}


/* GLOBAL ------------------------------------------------------------------- GLOBAL */
/* Layout */
.container {
    padding: 0px 8px;
}
.wrapper {
    height: 100%;
}
/* Layout */
.col > .wrapper {
    display: flex;
    flex-direction: column;
}
.row > .wrapper {
    display: flex;
    flex-direction: row;
}
.col.center > .wrapper,
.row.center > .wrapper {
    align-items: center;
    justify-content: center;
}
.col.space-between > .wrapper,
.row.space-between > .wrapper {
    justify-content: space-between;
}
.col.align-center > .wrapper,
.row.align-center > .wrapper {
    align-items: center;
}
.col.align-start > .wrapper,
.row.align-start > .wrapper {
    align-items: start;
}
/* Padding */
.pad-sm {
    padding: 24px;
}
.pad-lg {
    padding: 48px;
}
.fit {
    margin: 0px -8px;
}
/* Position */
.fill {
    height: 100%;
    width: 100%;
}
.absolute {
    position: absolute;
}
.fill.absolute {
    left: 0px;
    top: 0px;
}


/* COLOR --------------------------------------------------------------------- COLOR */
/* Foreground */
.fg-black {
    color: var(--black);
}
.fg-primary {
    color: var(--primary);
}
.fg-white {
    color: var(--white);
}
/* Background */
.bg-black {
    background-color: var(--black);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-trans {
    background-color: transparent;
}
.bg-white {
    background-color: var(--white);
}
/* Border */
.bd-primary {
    border: solid 1px var(--primary);
}
.bd-white {
    border: solid 1px var(--white);
}


/* TYPOGRAPHY ----------------------------------------------------------- TYPOGRAPHY */
html, body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 400;
}
.roboto {
    font-family: "Roboto Condensed", "Arial Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.webding {
    font-family: "Gilbert Webdings", sans-serif;
    font-weight: normal;
    text-transform: none;
}
/* Inline */
h1, h2, h3, h4, h5, h6, p, a, small {
    background-color: inherit;
    color: inherit;
}
.copy {
    letter-spacing: 0.02em;
    line-height: 1.4em;
}
/* Links */
a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: none;
}
a.wrapper {
    height: 100%;
}


/* MISC. --------------------------------------------------------------------- MISC. */
img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.overlay {
    background-color: var(--black);
    height: 100%;
    left: 0px;
    mix-blend-mode: multiply;
    opacity: 0.66;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.bg {
    z-index: -1;
}


/* BUTTON ------------------------------------------------------------------- BUTTON */
.button {
    cursor: pointer;
    font-size: 3.9em;
    user-select: none;
    z-index: 1;
}
.button > .wrapper,
.button > a.wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Icon Button */
.icon.button {
    height: 48px;
    width: 48px;
}
/* Pill Button */
.pill.button {
    border-radius: 24px;
    height: 48px;
    text-transform: lowercase;
}
.pill.button > .wrapper {
    border-radius: 24px;
    padding: 0px 24px;
}
/* Span Button */
.span.button {
    height: 48px;
    width: 100%;
}


/* HERO ----------------------------------------------------------------------- HERO */
/* Section */
.hero {
    height: 100vh;
}
/* Content */
.hero article > .wrapper > div {
    padding-right: 12px;
    width: 50%;
}
.hero article > .wraper > div:not(:last-child) {
    padding-left: 12px;
    padding-right: 0px;
}
.hero article .header {
    font-size: 1.3em;
}
.hero article .copy  {
    font-size: 1.1em;
}
/* Button */
.hero .span.button {
    left: 0px;
    top: calc(100vh - 48px);
}


/* CAROSEL ----------------------------------------------------------------- CAROSEL */
.carosel {
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.slide {
    left: 0px;
    opacity: 0.0;
    position: absolute;
    top: 0px;
    transition: opacity var(--easing) var(--dur-lg);
    z-index: -1;
}
.slide.active {
    opacity: 1.0;
    z-index: 0;
}
.slide.trans {
    z-index: -1;
}


/* HEADER ------------------------------------------------------------------- HEADER */
header {
    height: 144px;
}


/* NAVIGATION ----------------------------------------------------------- NAVIGATION */
nav {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.33);
    height: 100vh;
    left: 100vw;
    position: fixed;
    top: 0px;
    width: calc(100vw - 48px);
    z-index: 98;
    transition: left var(--easing) var(--dur-sh);
}
nav.active {
    left: 48px;
}
nav > .wrapper {
    padding: 48px;
}
/* Close Button */
nav > .wrapper > .button {
    left: 34px;
    top: 34px;
}
/* Links */
nav .navigation > .wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .navigation .button {
    border-bottom: solid 1px var(--primary);
}
nav .navigation .button:not(:last-child) {
    margin-bottom: 32px;
}
/* Reset the pill button to look like a simple nave button */
nav .navigation .pill.button {
    border: none;
    border-bottom: 1px solid var(--primary);
    border-radius: 0px;
    font-family: "Roboto Condensed", "Arial Condensed", sans-serif;
    font-weight: 700;
    height: auto;
    text-transform: uppercase;
}
nav .navigation .pill.button > .wrapper {
    display: block;
    padding: 0px;
}


/* CONTACT ASIDE ----------------------------------------------------- CONTACT ASIDE */
aside {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.33);
    height: 100vh;
    left: 100vw;
    position: fixed;
    top: 0px;
    transition: left var(--easing) var(--dur-sh);
    width: 100vw;
    z-index: 99;
}
aside.active {
    left: 0px;
}
aside > .wrapper > .icon.button {
    top: 34px;
    left: 34px;
}


/* FORM ----------------------------------------------------------------------- FORM */
aside form > .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Header */
aside form .header {
    font-size: 2.9em;
    right: 0px;
    top: -8px;
}
/* Field */
aside form .section:not(:last-child),
aside form .field:not(:last-child) {
    margin-bottom: 32px;
    width: 100%;
}
aside form .section {
    font-size: 1.1em;
}
aside form .field > *:first-child {
    border-bottom: 1px solid var(--gray-60);
    font-size: 1.0em;
    height: 32px;
    width: 100%;
}
aside form select {
    text-indent: -2px;
}
aside form option {
    color: var(--black);
}
aside form textarea {
    height: 10em !important; /* override the above styling */
}
/* Label */
label {
    left: 0px;
    position: absolute;
    top: 0px;
    visibility: hidden;
    z-index: -1;
}
/* Select Down Icon */
aside form .field span.icon {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
} 
/* Footer */
aside form .footer {
    bottom: 0px;
    font-size: 1.3em;
    left: 0px;
    letter-spacing: 0.02em;
    width: 100%;
}
aside form .footer > .wrapper {
    align-items: center;
}
aside form .footer button {
    border-radius: 24px;
    font-size: 1.0em;
    height: 48px;
    padding: 0px 24px;
    text-transform: lowercase;
}


/* SECTIONS --------------------------------------------------------------- SECTIONS */
main section .header {
    font-size: 2.5em;
    margin-bottom: 48px;
}
main section .copy {
    font-size: 1.1em;
}
main section .copy > .wrapper > *:not(:first-child) {
    margin-top: 48px;
}
main section .copy ul {
    font-size: 1.1em;
}
main section .copy ul > li:not(:last-child) {
    margin-bottom: 12px;
}

/* SCREENS ----------------------------------------------------------------- SCREENS */
/* Horizontal */
@media only screen and (max-height: 479px) and (max-width: 879px) {
    /* NAVIGATION ------------------------------------------------------- NAVIGATION */
    nav {
        width: 50vw;
    }
    nav.active {
        left: 50vw;
    }
    /* Buttons */
    nav .navigation .button {
        font-size: 2.5em;
    }
    nav .navigation .button:not(:last-child) {
        margin-bottom: 16px;
    }
    /* The pill button rules must be duplicated in this size because a screen may
       be < 1024px and still be horizontal */
    nav .navigation .pill.button {
        border: none;
        border-bottom: 1px solid var(--primary);
        border-radius: 0px;
        font-family: "Roboto Condensed", "Arial Condensed", sans-serif;
        font-weight: 700;
        height: auto;
        text-transform: uppercase;
    }
    nav .navigation .pill.button > .wrapper {
        display: block;
        padding: 0px;
    }


    /* FORM ----------------------------------------------------------------------- FORM */
    aside form > .wrapper {
        flex-direction: row;
    }
    /* Field */
    aside form .section {
        margin-bottom: 0px;
        margin-right: 24px;
    }
    aside form .section:not(:last-child) {
        margin: 0px 0px 0px 24px;
    }
    aside form .field:not(:last-child) {
        margin-bottom: 24px;
    }
    aside form textarea {
        height: 7.3em !important; /* override the above styling */
    }
    /* Footer */
    aside form .footer {
        font-size: 1.1em;
    }
    aside form .footer button {
        border-radius: 16px;
        height: 32px;
        padding: 0px 16px;
    }
}
/* Tablet */
@media only screen and (min-width: 668px) {
    
}
/* Desktop */
@media only screen and (min-width: 1024px) {
    
}
/* Large */
@media only screen and (min-width: 1200px) {
    
}