/*
 * Style.css
 */


/* FONTS --------------------------------------------------------------------- FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto+Condensed:wght@400;700&display=swap');
@font-face {
    font-family: 'Gilbert Webdings';
    src: url('../resources/fonts/Gilbert_Webdings.woff2') format('woff2'),
        url('../resources/fonts/Gilbert_Webdings.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* VARIABLES ------------------------------------------------------------- VARIABLES */
html:root {
    --primary:      #1f00ff;
    --visited:      #3904ba;
    --secondary:    #ffc200;
    --black:        #58595b;
    --gray-80:      #7c7c7e;
    --gray-60:      #9fa0a1;
    --gray-40:      #c3c3c4;
    --gray-20:      #dfe3e8;
    --white:        #f8f8f8;
    --dur-lg:       2.00s;
    --dur-md:       0.66s;
    --dur-sh:       0.33s;
    --easing:       ease;
}


/* RESET --------------------------------------------------------------------- RESET */
html, body, div, header, main, footer,
nav, aside, section, article, span, ul,
li, h1, h2, h3, h4, h5, h6, p, a, small,
input, select, option, button, textarea {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    position: relative;
}
input, select, option, button, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: inherit;
    border: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    letter-spacing: 0.04em;
}


/* GLOBAL ------------------------------------------------------------------- GLOBAL */
/* Layout */
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    padding: 0px 48px;
}
body.lock {
    overflow-y: hidden;
}
.column, .dynamic-md, .dynamic-lg {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
/* Justification */
.center {
    align-items: center;
    justify-content: center;
}
/* Position */
.absolute {
    left: 0px;
    position: absolute;
    top: 0px;
}
/* Background */
.background {
    z-index: -1;
}


/* BUTTON ------------------------------------------------------------------- BUTTON */
.button {
    cursor: pointer;
    text-align: center;
    user-select: none;
}
/* Icon Button */
.icon.button {
    font-size: 33pt;
    height: 48px;
    width: 48px;
}
/* Pill Button */
.pill.button {
    border-radius: 16px;
    display: inline-block;
    font-size: 11pt;
    height: 32px;
    padding: 6px 16px 0px 16px;
    text-transform: lowercase;
}
/* Span Button */
.span.button {
    font-size: 33pt;
    height: 48px;
    width: 100%;
}
/* Form Button */
button {
    cursor: pointer;
}


/* MISC. --------------------------------------------------------------------- MISC. */
div.overlay {
    background-color: var(--black);
    height: 100%;
    left: 0px;
    mix-blend-mode: multiply;
    opacity: 0.66;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}
img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}


/* COLOR --------------------------------------------------------------------- COLOR */
/* Foreground */
.fg-black {
    color: var(--black);
}
.fg-primary {
    color: var(--primary);
}
.fg-white {
    color: var(--white);
}
/* Background */
.bg-black {
    background-color: var(--black);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-secondary {
    background-color: var(--secondary);
}
.bg-trans {
    background-color: transparent;
}
.bg-white {
    background-color: var(--white);
}
/* Border */
.bd-primary {
    border: solid 1px var(--primary);
}
.bd-white {
    border: solid 1px var(--white);
}


/* TYPOGRAPHY ----------------------------------------------------------- TYPOGRAPHY */
html, body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
}
.roboto {
    font-family: "Roboto Condensed", "Arial Condensed", sans-serif;
    font-weight: 700;
}
.webding {
    font-family: "Gilbert Webdings", sans-serif;
    font-weight: normal;
}
/* Inline */
h1, h2, h3, h4, h5, h6, p, small,
a, a:hover, a:active, a:visited {
    background-color: inherit;
    color: inherit;
}
/* Lists */
ul {
    list-style: none;
}
/* Font Sizes */
.copy {
    letter-spacing: 0.02em;
    line-height: 1.4em;
}


/* HEADER ------------------------------------------------------------------- HEADER */
header {
    margin: 0px -48px
}
/* Hero */
header > div.hero {
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    padding: 48px;
}
header > div.hero > h1 {
    font-size: 33pt;
    width: calc(50% - 12px);
    z-index: 2;
}
header > div.hero > .copy {
    font-size: 9pt;
    padding: 24px;
    width: calc(50% - 12px);
    z-index: 2;
}
/* Jump Button */
header > div.hero > .span.button {
    text-decoration: none;
    top: calc(100% - 80px);
    z-index: 2;
}


/* CAROSEL ----------------------------------------------------------------- CAROSEL */
img.slide {
    opacity: 0.0;
    transition: opacity var(--easing) var(--dur-lg);
}
img.slide.active {
    opacity: 1.0;
    z-index: 0;
}


/* NAVIGATION ----------------------------------------------------------- NAVIGATION */
header > div.navigation {
    align-items: center;
    height: 144px;
    justify-content: space-between;
    padding: 48px;
}
/* Open Navigation Button */
header > div.navigation > .icon.button {
    transform: translateX(12px);
    z-index: 97;
}
/* Navigation Aside */
nav {
    box-shadow: none;
    height: 100vh;
    justify-content: center;
    left: 100vw;
    padding: 48px;
    position: fixed;
    top: 0px;
    transition: left var(--easing) var(--dur-sh);
    width: calc(100vw - 48px);
    z-index: 98;
}
nav.active {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.33);
    left: 48px;
}
/* Close Navigation Button */
nav > .icon.button {
    left: 34px;
    top: 34px;
}
/* Navigation Links */
nav > ul > li.button {
    font-size: 33pt;
    text-align: left;
    text-transform: uppercase;
}
nav > ul > li:not(:last-child) {
    margin-bottom: 24px;
}
nav > ul > li.button > a {
    border-bottom: solid 1px var(--primary);
    text-decoration: none;
}


/* CONTACT ASIDE ----------------------------------------------------- CONTACT ASIDE */
aside {
    height: 100vh;
    left: 100vw;
    padding: 48px;
    position: fixed;
    top: 0px;
    transition: left var(--easing) var(--dur-sh);
    width: 100vw;
    z-index: 99;
}
aside.active {
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.33);
    left: 0px;
}
/* Close Contact Button */
aside > .icon.button {
    left: 34px;
    top: 34px;
}

/* CONTACT FORM ------------------------------------------------------- CONTACT FORM */
aside form {
    height: 100%;
}
/* Header */
aside form > h2.absolute {
    font-size: 23pt;
    left: auto;
    right: 48px;
    text-transform: uppercase;
    top: 43px;
}
/* Column */
aside form > div:not(:last-child) {
    margin-bottom: 32px;
    width: 100%;
}
/* Field */
aside form > div > div.field:not(:last-child) {
    margin-bottom: 32px;
}
aside form > div > div > *:first-child {
    border-bottom: solid 1px var(--gray-60);
    font-size: 11pt;
    letter-spacing: 0.04em;
    width: 100%;
}
aside form input {
    height: 32px;
}
aside form select {
    height: 32px;
    text-indent: -2px;
}
aside form option {
    color: #000000;
}
aside form textarea {
    height: 10em;
    resize: none;
}
/* Label */
aside form label {
    visibility: hidden;
    z-index: -1;
}
/* Select Down Icon */
aside form span.glyph {
    align-items: center;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
} 
/* Footer */
aside form button.pill.button {
    left: 48px;
    padding-top: 0px;
    top: calc(100% - 72px);
}
aside form a.absolute {
    bottom: 32px;
    font-size: 9pt;
    left: auto;
    padding-bottom: 15px;
    right: 48px;
    top: auto;
}


/* MAIN ----------------------------------------------------------------------- MAIN */
main {
    margin: 0px -48px;
}


/* SECTION ----------------------------------------------------------------- SECTION */
section > article {
    padding: 48px;
    z-index: 2;
}
section h1 {
    font-size: 33pt;
    font-weight: 700;
    text-transform: uppercase;
}
section .copy {
    font-size: 9pt;
}
section > article > .pill.button {
    font-size: 11pt;
}
section ul > li {
    font-size: 17pt;
    text-transform: uppercase;
}
section ul:not(:last-child),
section ul > li:not(:last-child),
section > article > div.row > div > ul:not(:last-child) {
    margin-bottom: 12px;
}
section > article > *:not(:last-child) {
    margin-bottom: 48px;
}
section > article > p:not(:first-of-type) {
    margin-top: -24px;
}
section > article > div.row ul > li {
    font-size: 11pt;
}
section > article > div.row ul:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 48px;
}


/* FOOTER ------------------------------------------------------------------- FOOTER */
footer {
    margin: 0px -48px;
    padding-bottom: 96px;
}
/* Content */
/* Left Side */
footer > div:first-child {
    padding: 48px 48px 72px 48px;
}
footer > div:first-child > h6 {
    font-size: 11pt;
    margin-bottom: 6px;
}
footer > div:first-child p {
    font-size: 7pt;
    letter-spacing: 0.02em;
}
footer > div:first-child > p:not(:last-child) {
    margin-bottom: 6px;
}
/* Right Side */
footer > div:last-child {
    justify-content: space-between;
    padding: 72px 48px 0px 48px;
}
footer > div:last-child > .pill.button {
    font-size: 11pt;
    left: 48px;
    position: absolute;
    top: -24px;
}
footer > div:last-child > ul > li {
    font-size: 7pt;
}
footer > div:last-child > ul > li:not(:last-child) {
    margin-bottom: 24px;
}


/* SCREENS ----------------------------------------------------------------- SCREENS */
/* Horizontal */
@media only screen and (max-height: 479px) and (max-width: 879px) {
    /* HEADER --------------------------------------------------------------- HEADER */
    header > div.hero > .copy {
        font-size: 9pt !important;
        font-weight: 400 !important;
        padding: 24px !important;
        width: calc(50% - 12px) !important;
    }


    /* CONTACT ASIDE ------------------------------------------------- CONTACT ASIDE */
    aside {
        width: 100vw !important;
    }
    aside.active {
        left: 0px !important;
    }
    /* Column */
    aside form {
        flex-direction: row !important;
        justify-content: space-between !important;
    }
    aside form > div:not(:last-child) {
        margin-bottom: 0px !important;
        width: calc(50% - 24px) !important;
    }
    /* Field */
    aside form textarea {
        height: 6.6em !important
    }
}
/* Tablet */
@media only screen and (min-width: 668px) {
    /* GLOBAL --------------------------------------------------------------- GLOBAL */
    /* Layout */
    .dynamic-md {
        flex-direction: row;
    }


    /* HEADER --------------------------------------------------------------- HEADER */
    header > div.hero > h1 {
        width: calc(50% - 24px);
    }
    header > div.hero > .copy {
        font-size: 23pt;
        font-weight: 600;
        padding: 48px;
        width: calc(50% - 24px);
    }


    /* NAVIGATION ------------------------------------------------------- NAVIGATION */
    /* Open Navigation Button */
    header > div.navigation > .icon.button {
        display: none;
        visibility: hidden;
    }
    /* Navigation Aside */
    nav {
        height: auto;
        left: auto;
        padding: 0px;
        position: relative;
        top: auto;
        width: auto;
        z-index: initial;
    }
    /* Close Navigation Button */
    nav > .icon.button {
        display: none;
        visibility: hidden;
    }
    /* Navigation Links */
    nav > ul > li.button {
        display: inline-block;
        font-size: 11pt;
        font-weight: 400;
        text-transform: lowercase;
    }
    nav > ul > li:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 24px;
    }
    nav > ul > li.button > a {
        border-bottom: none;
        display: block;
        height: 32px;
        padding-top: 6px;
    }
    /* Contact Button */
    nav > ul > li.button:last-child {
        background-color: var(--secondary);
        border-radius: 16px;
        color: var(--primary);
        font-family: "Montserrat", "Arial", sans-serif;
        padding: 0px 16px;
    }
    


    /* CONTACT ASIDE ------------------------------------------------- CONTACT ASIDE */
    aside {
        width: 50vw;
    }
    aside.active {
        left: 50vw;
    }
    /* Column */
    aside form {
        flex-direction: column;
        justify-content: center;
    }
    aside form > div:not(:last-child) {
        margin-bottom: 24px;
        width: 100%;
    }
    /* Field */
    aside form textarea {
        height: 10em;
    }
      


    /* SECTION ------------------------------------------------------------- SECTION */
    section .copy {
        font-size: 11pt;
        width: calc(66% - 24px);
    }


    /* FOOTER --------------------------------------------------------------- FOOTER */
    footer {
        justify-content: space-between;
    }
    /* Content */
    /* Left Side */
    footer > div:first-child {
        padding: 48px 24px 0px 48px;
    }
    footer > div:first-child > h6 {
        font-size: 13pt;
        margin-bottom: 20px;
        padding-top: 4px;
    }
    footer > div:first-child p:not(:last-child) {
        margin-bottom: 0px;
    }
    /* Right Side */
    footer > div:last-child {
        padding: 48px 48px 0px 24px;
    }
    footer > div:last-child > .pill.button {
        left: -24px;
        top: 48px;
        transform: translateX(-100%);
    }
    footer > div:last-child > ul:not(:last-child) {
        margin-right: 48px;
    }
    footer > div:last-child > ul > li {
        font-size: 9pt;
    }
    footer > div:last-child > ul > li:not(:last-child) {
        margin-bottom: 9px;
    }
}
/* Desktop */
@media only screen and (min-width: 1000px) {
    /* GLOBAL --------------------------------------------------------------- GLOBAL */
    /* Layout */
    .dynamic-lg {
        flex-direction: row;
    }


    /* NAVIGATION ------------------------------------------------------- NAVIGATION */
    /* Navigation Links */
    nav > ul > li.button {
        font-size: 13pt;
    }
    nav > ul > li.button:not(:last-child) > a {
        padding-top: 4px;
    }
    /* Contact Button */
    nav > ul > li.button:last-child {
        font-size: 11pt !important;
    }


    /* SECTION ------------------------------------------------------------- SECTION */
    section ul:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 48px;
    }
    section > article > div.row > div:not(:last-child) {
        margin-right: 48px;
    }
    section > article > div.row > div > ul:not(:last-child) {
        margin-bottom: 0px;
    }


    /* FOOTER --------------------------------------------------------------- FOOTER */
    footer {
        justify-content: space-between;
    }
    /* Content */
    /* Left Side */
    footer > div:first-child {
        padding: 48px 24px 0px 48px;
    }
    footer > div:first-child > h6 {
        margin-bottom: 0px;
        margin-right: 48px;
        padding-top: 0px;
    }
    footer > div:first-child p {
        font-size: 9pt;
    }
    footer > div:first-child p:not(:last-child) {
        margin-bottom: 9px;
    }
}
/* Large */
@media only screen and (min-width: 1200px) {
    /* HEADER --------------------------------------------------------------- HEADER */
    header > div.hero > .copy {
        font-size: 33pt;
    }


    /* NAVIGATION ------------------------------------------------------- NAVIGATION */
    /* Navigation Links */
    nav > ul > li.button {
        font-size: 15pt;
    }
    nav > ul > li.button:not(:last-child) > a {
        padding-top: 3px;
    }


    /* CONTACT ASIDE ------------------------------------------------- CONTACT ASIDE */
    aside {
        width: calc(33vw - 48px);
    }
    aside.active {
        left: calc(67vw + 48px);
    }


    /* FOOTER --------------------------------------------------------------- FOOTER */
    footer {
        justify-content: flex-start;
    }
    /* Content */
    /* Left Side */
    footer > div:first-child {
        margin-right: 48px;
        padding: 48px 0px 0px 48px;
    }
    /* Right Side */
    footer > div:last-child {
        padding: 48px 48px 0px 0px;
    }
    footer > div:last-child > .pill.button {
        left: auto;
        margin-right: 48px;
        position: relative;
        top: auto;
        transform: none;
    }
}

/* ACCESSIBILITY ----------------------------------------------------- ACCESSIBILITY */
/* Reduced Motion */
/* @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
} */